<!---Initialize Home Page--->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <!---Initialize structure of Title and house picture--->
        <div class = "title">
            <h1>Laptop Price Predictor</h1>
            <img src="static/img/OIP.webp" class="house"/>
        </div>
        <!---Links/buttons to other websites--->
        <div id = "menu-outer">
            <div class = "table">
                <ul id = "horizontal-list">
                    <li><a href = "https://flask.palletsprojects.com/en/2.0.x/" target="_blank" class = "link"><span class = "titleLink">Python Flask</span></a></li>
                    <li><a href = "https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html" target="_blank" class = "link"><span class = "titleLink">Scikit-Learn</span></a></li>
                </ul>
            </div>
        </div>
        <!---Containerize main page for styling--->
        <div class = "page">
            <!---Containerize paragraph and form for styling--->
            <div class = "container">
                <div class = "intro">
                    <b>
                        <p class = "Note"><b>Note: Enter values which are reasonable to the context</b></p>
                    </b>
                </div>
                <br>
                <!---Initialize form structure and inputs, set method to "POST"--->
                <form action = "{{url_for('predict')}}" method = "post" class = "info">
                    <input type="text" id="ram" name="RAM" placeholder="RAM" required="required"/><span style="color:red"> * </span>
                    <br>
                    <br>
                    <input type="text" id="weight" name="WEIGHT" placeholder="WEIGHT" required="required"/><span style="color:red"> * </span>
                    <br>
                    <br>
                    <input type="text" id="touchscreen" name="TOUCHSCREEN" placeholder="TOUCHSCREEN" required="required"/><span style="color:red"> * </span>
                    <br>
                    <br>
                    <input type="text" id="ips" name="IPS" placeholder="IPS"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="ppi" name="PPI" placeholder="PPI"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="hdd" name="HDD" placeholder="HDD"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="ssd" name="SSD" placeholder="SSD"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="company" name="COMPANY" placeholder="COMPANY"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="typename" name="TYPENAME" placeholder="TYPENAME"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="cpu" name="CPU_BRAND" placeholder="CPU_BRAND"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="gpu" name="GPU_BRAND" placeholder="GPU_BRAND"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="os" name="OS" placeholder="OS"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <button type="submit" class="btn">Predict</button>
                </form>
                <br> 
                <!---Set placeholder for prediction output--->
                <div class ="pred">
                    <p class = "result"><b>{{ prediction_text }}</b></p>
                </div>
            </div>
        </div>
    </body>
</html>